# Dependencies
/vendor/
/node_modules/

# Environment files
.env
.env.backup
.env.production

# Laravel storage and bootstrap cache at root
/bootstrap/cache/*
/storage/
/database/database.sqlite

# IDEs
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db
